<div align=center>

| Nama                    | NRP        |
|:-----------------------:|:----------:|
| Aryan Shafa Wardana     | 5025211031 |
| Muhammad Ersya Vinorian | 5025211045 |

</div>

## Preprocessing Data

In [62]:
import pandas as pd
from sklearn import preprocessing

In [63]:
RAW_DATA = 'data/raw/bald_probability.csv'
PROCESSED_DATA = 'data/processed/bald_probability.csv'

In [64]:
df = pd.read_csv(RAW_DATA)

label_encoder = preprocessing.LabelEncoder()

#### Drop NaN values

In [65]:
df = df.dropna()

df.count()

age              5865
gender           5865
job_role         5865
province         5865
salary           5865
is_married       5865
is_hereditary    5865
weight           5865
height           5865
shampoo          5865
is_smoker        5865
education        5865
stress           5865
bald_prob        5865
dtype: int64

#### Change float integers to integer type

In [66]:
df['is_hereditary'] = df['is_hereditary'].map(int)
df['is_married'] = df['is_married'].map(int)
df['is_smoker'] = df['is_smoker'].map(int)
df['stress'] = df['stress'].map(int)
df['age'] = df['age'].map(int)

df

,age,gender,job_role,province,salary,is_married,is_hereditary,weight,height,shampoo,is_smoker,education,stress,bald_prob
0,27,female,Government Employee,Bengkulu,7.957453e+06,1,0,54.315053,170.428542,Pantone,1,Bachelor Degree,5,0.605974
1,53,female,Government Employee,Bandung,7.633003e+06,1,0,72.873404,165.530097,Pantone,0,Bachelor Degree,7,0.532860
2,37,female,Employee,Bandung,6.637625e+06,1,0,46.321533,154.599388,Moonsilk,0,Bachelor Degree,4,0.418442
3,36,female,Jobless,Palu,3.624871e+06,1,0,51.539781,167.340481,Deadbuoy,1,Elementary School,9,0.804050
5,55,female,Government Employee,Palangkaraya,9.213032e+06,1,1,54.287045,179.235145,Pantone,0,Bachelor Degree,1,0.732562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7910,43,male,Employee,Surabaya,7.495176e+06,1,0,57.817115,186.801200,Moonsilk,1,Senior High School,9,0.696782
7911,21,female,Employee,Samarinda,5.326614e+06,1,1,50.257686,189.341664,Merpati,0,Bachelor Degree,6,0.439846
7912,32,male,Employee,Yogyakarta,6.024409e+06,1,0,44.432438,154.578859,Deadbuoy,0,Senior High School,9,0.471229
7913,34,male,Employee,Manado,1.007043e+07,1,0,49.389914,158.782726,Shoulder & Head,1,Bachelor Degree,9,0.543821
7916,58,male,Government Employee,Banjarmasin,1.769162e+07,1,0,81.036287,183.054150,Shoulder & Head,1,Bachelor Degree,10,0.872124

#### Encode categorical values

In [67]:
df['education'] = label_encoder.fit_transform(df['education'])
df['job_role'] = label_encoder.fit_transform(df['job_role'])
df['province'] = label_encoder.fit_transform(df['province'])
df['shampoo'] = label_encoder.fit_transform(df['shampoo'])
df['gender'] = label_encoder.fit_transform(df['gender'])

df

,age,gender,job_role,province,salary,is_married,is_hereditary,weight,height,shampoo,is_smoker,education,stress,bald_prob
0,27,0,1,5,7.957453e+06,1,0,54.315053,170.428542,3,1,0,5,0.605974
1,53,0,1,3,7.633003e+06,1,0,72.873404,165.530097,3,0,0,7,0.532860
2,37,0,0,3,6.637625e+06,1,0,46.321533,154.599388,2,0,0,4,0.418442
3,36,0,2,22,3.624871e+06,1,0,51.539781,167.340481,0,1,2,9,0.804050
5,55,0,1,20,9.213032e+06,1,1,54.287045,179.235145,3,0,0,1,0.732562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7910,43,1,0,30,7.495176e+06,1,0,57.817115,186.801200,2,1,5,9,0.696782
7911,21,0,0,26,5.326614e+06,1,1,50.257686,189.341664,1,0,0,6,0.439846
7912,32,1,0,33,6.024409e+06,1,0,44.432438,154.578859,0,0,5,9,0.471229
7913,34,1,0,15,1.007043e+07,1,0,49.389914,158.782726,4,1,0,9,0.543821
7916,58,1,1,4,1.769162e+07,1,0,81.036287,183.054150,4,1,0,10,0.872124

#### Separate probability into 2 categories

In [68]:
df['bald_prob'] = pd.cut(x=df['bald_prob'], bins=[0, 0.33, 0.66, 1], labels=['Less Likely', 'Likely', 'More Likely'])

df['bald_prob'].value_counts()

bald_prob
Likely         3637
More Likely    1966
Less Likely     262
Name: count, dtype: int64

#### Export processed data to csv file

In [69]:
df.to_csv(PROCESSED_DATA, index=False)